:host {
  display: block;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  min-height: 100dvh;
  padding: 1rem;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.ships {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
